body {
    margin: 0;
    padding: 0;
}

body {
    margin: 150px;
    margin-top: 50px;
}

.slideshow {
    background-image: url(background2.jpg);
    background-size: cover;
    margin: 300px;
    margin-top: 50px;
}

.content {
    background-color: grey;
}


p {
    font-family: Constantia;
    font-size: 13pt;
}

.content {
    padding: 10px;
    text-indent: 50px;
}

h1 {
    color: blue;
}

.black {
    color: black;
    
}

h2 {
    color: blue;
    text-decoration: underline;
}

a {
    font-size: 16pt;
    text-decoration: none;
}

    a:hover {
        text-shadow: 10px 0px 20px white;
    }

ul {
    font-size: 100%;
    font-weight: bold;
    margin: 0.5em 0;
}

    ul li {
        display: inline-block;
        padding: 0 0.5%;
    }

        ul li a {
            text-decoration: none;
            color: white;
            background-color: black;
            text-align: center;
            padding: 3px;
            border-radius: 20pt;
            border-left-style: inset;
            border-color: #08f;
            font-size: 14pt;
        }

            ul li a:hover {
                background-color: blue;
            }

.top {
    float: right;
    background-color: blue;
    color: white;
    width: 50px;
    border: none;
    border-style: dotted;
    border-radius: 40pt;
    font-size: 13pt;
}

.slide {
    border-left-color: gold;
    border-radius: 5px;
    background-color: black;
    color: white;
}

img {
    position: center;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {

    body {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .long{
        height:120em;
    }
}

textarea {
    resize: vertical;
    min-height: 300px;
    max-height: 300px;
    resize: horizontal;
    max-width: 400px;
    min-width: 500px;
    background-color: grey;
}

#map {
    width: 500px;
    height: 400px;
}

.inputs{
    padding:20px;
}

.inputs button{
    
    font-size:12pt;
    border-radius:5px;
    background-color:black;
    color:white;
}
.inputs label{
    float:left;
    font-size:13pt;
    font-family:Calibri;

}
.inputs input{
}

.inputs div{
    padding:10px;
}