.header {
            text-align: center;
            text-decoration: underline;
            font-size: medium;
            font-family: Arial Greek;
        }

        .content {
            text-align: left;
        }


        #slide {
            position: relative;
            width: 100%;
            height: 450px;
            left: -33px;
        }

            #slide img {
                position: absolute;
                z-index: 2;
                margin-top: 10px;
                margin-left: 380px;
                width: 650px;
                height: 350px;
            }

                #slide img.present {
                    z-index: 4;
                    opacity: 1;
                }

                #slide img.previous {
                    z-index: 3;
                }