body{
    background-color:black;
    }        

        .main{
            margin:auto;

        }

        .cr7{
            float:left;
            border:4px;
            width: 300px;
            height: 300px;
            border-style: solid;
            border-color: white;
            margin-left:20px;
        }

    h1{
        padding-left:130px;
        color:white;
    }

   @media screen and (min-width:1100px)
   {
       body{
           background-color:black;
       }
   }
   @media screen and (min-width:700px) and (max-width:1099px){
       body{
           background-color:maroon;
       }
    
   }
   @media screen and (max-width:699px){

       body{
           background-color:darkblue;
       }
   }

   p{   
       padding-top:20px;
       clear:both;
       color:white;
   }

   h3{
       color:white;
   }

   a{
       color:white;
   }

   h4{
       color:white;
   }