<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer"
   connectionString="Data Source=127.0.0.1;Initial Catalog=vikasv;User ID=vikasv;PWD=...;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="vikasvCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=vikasv;UID=vikasv;PWD=...;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="pubsCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=vikasv;PWD=...;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="NorthwindCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=vikasv;PWD=...;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=vikasv;PWD=...;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=vikasv;PWD=...;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
</connectionStrings>